<div>
    <div class="container text-center">
        <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
            {% for i in results %}
                <div class="col">
                    <div class="card bg-dark bg-opacity-25" style="width: 18rem;">
                        <img src= {{ i['img'] }} class="rounded" style="width: 286px; height: 405px;" alt="anime_image" >
                        <div class="card-body">
                          <h5 class="card-title">{{ i['ename'] }}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>